.campus{
    margin: 10px auto;
    width: 90%;
    text-align: center;
}
.gallary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallary img{
    width: 23%;
    border-radius: 10px ;
}
button{
    background: rgb(62, 62, 125);
    color: #ffff;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}
button img{
    width :20%;
}